{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "no-console": "off"
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}