@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* Common */
a{
    text-decoration: none;
}
.container{
    margin:80px auto 10px auto;
    max-width:1280px;
    width:90%
}
.inline{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.box{
    width: 100%;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
}
.breadcrumb{
    display: flex;
    width: 100%;
    padding: 20px;
}
/* End Common */

/* Area */
.full-width{
    width: 100%;
}
.map{
    position: relative;
    top: -5px;
}
.map .content{
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 10px;
}
.map .img{
    height: 128px;
    width: 128px;
}
.info-box-key{
    width: 280px;
}
/* End Area */

/* Quest */
.quest-requirement>li::before{
    position: relative;
    content: "\25A0";
    left: -10px;
    width: 10px;
    color: #fff;
}
.quest-requirement>ul>li{
    position: relative;
    left: 10px;
}
.quest-requirement>ul>li::before{
    position: relative;
    content: "\2514";
    left: -10px;
    width: 10px;
    color: #fff;
}
/* End Quest */

/* Skeleton Screen */
.skeleton-sm{
    width: 100px;
}
.skeleton-md{
    width: 200px;
    max-width: 100%;
}
.skeleton-lg{
    width: 500px;
    max-width: 100%;
}

.skeleton-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #616161 8%, #424242 18%, #616161 33%);
    background-size: 800px 104px;
    height: 1.5em;
    position: relative;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

/* End Skeleton Screen */
@media only screen and (min-width: 600px){
    .container{
        width:85%
    }
    /* Vote Result */
    .multi-column>ul>a{
        padding: 0 0 5px 0;
    }
    /* End Vote Result */
}
@media only screen and (min-width: 960px){
    /* Vote Result */
    .multi-column{
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
    .multi-column>ul>a{
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
    }
    /* End Vote Result */
}
@media only screen and (min-width: 1280px){
    .container{
        width:70%
    }
}